button {
    padding: 2px 3px 2px 3px;
    border-radius: 4px;
}

button:hover {
    background-color: lightblue;
    color: darkred;
}

.page {
    padding: 10px;
    background-color: rgb(251, 241, 231);
}

body {
    background-color: rgb(251, 241, 231);
}

.success {
    color: darkgreen;
    background: lightgreen;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: darkred;
    background: plum;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.link {
    padding: 10px;
    color: darkblue;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    position: relative;
    padding: 5px;
    margin-bottom: 15px;
    color: darkred;
    border: solid;
    border-width: 3px;
    background-color: brown;
    border-radius: 5px;
}

.menuItem {
    padding: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.menuItem:hover {
    color: rgb(240, 224, 192);
}

.blogList {
    margin-top: 6px;
    padding: 5px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: grey;
    background: beige;
}
